body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#create-task {
    border-radius: 10px;
    border: none;
    color: white;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px rgb(88, 88, 88);
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #7066e0;
}

#create-task:hover {
    background-color: #564eab;
}

#create-task:active {
    background-color: #403b80;
}

table {
    width: 100%;
}

table,
th,
td {
    padding-top: 10px;
    padding-bottom: 10px;

}

.isCompleted {
    background-color: rgb(189, 250, 189);
}

.notCompleted {
    background-color: rgb(240, 240, 240);
}